@charset "UTF-8";
@import "./common/var.css";
@import "./core/dropdown.css";
@import "./core/tag.css";
@import "./core/input.css";

@component-namespace element {

  @b select {
    background-color: var(--input-fill);
    display: inline-block;
    position: relative;

    & .element-dropdown__search {
      border: 0;
      border-bottom: var(--input-border);
      border-radius: 0;
      display: block;

      &:hover {
        border-bottom: var(--input-border);
        box-shadow: none;
      }
    }

    @e chevron {

      &::after {
        border: 4px solid var(--input-icon-color);
        border-left-color: transparent;
        border-radius: 1px;
        border-top-color: transparent;
        content: " ";
        display: block;
        margin-top: -6px;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: rotate(45deg);
      }

      @when up {

        &::after {
          margin-top: -2px;
          transform: rotate(-135deg);
        }
      }
    }

  }
}
